.nav-right {
  display: flex;
  gap: 13px;
}
.nav-right button {
  text-decoration: none;
  border: 0.1px solid #003585;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  color: #003585;
}
.nav-right button:hover {
  text-decoration: none;
  border: 0.1px solid #a7f65c;
  background-color: #a7f65c;
  color: white;
  border-radius: 20px;
  padding: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: white;
}
.nav-left button {
  text-decoration: none;
  color: #003585;
  font-size: 30px;
  font-weight: 600;
  background-color: white;
  border: none;
}
.nav button {
  color: white;
  background-color: #003585;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 20%;
}
.nav {
  justify-content: space-around;
}
.sale {
  background-color: #a7f65c;
  height: 40px;
  width: 50%;
  text-align: center;
}
