.product-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 60%;
  margin: 0 auto;
  padding-top: 70px;
}
.product-name {
  color: #003585;
  font-size: 30px;
}
.single-cover-img {
  border: 1px solid rgba(116, 116, 116, 0.555);
  padding: 20px;
}
.product-price {
  font-size: 25px;
}
.product-detail button {
  background-color: #003585;
  color: white;
  border-radius: 20px;
  border: #003585 solid 2px;
  padding: 10px;
}
